.dark {
  --md-sys-color-primary: rgb(243 186 163);
  --md-sys-color-surface-tint: rgb(243 186 163);
  --md-sys-color-on-primary: rgb(74 39 24);
  --md-sys-color-primary-container: rgb(128 85 66);
  --md-sys-color-on-primary-container: rgb(255 255 255);
  --md-sys-color-secondary: rgb(255 179 174);
  --md-sys-color-on-secondary: rgb(104 0 12);
  --md-sys-color-secondary-container: rgb(204 63 64);
  --md-sys-color-on-secondary-container: rgb(255 255 255);
  --md-sys-color-tertiary: rgb(141 215 154);
  --md-sys-color-on-tertiary: rgb(0 57 23);
  --md-sys-color-tertiary-container: rgb(36 110 59);
  --md-sys-color-on-tertiary-container: rgb(255 255 255);
  --md-sys-color-error: rgb(255 180 171);
  --md-sys-color-on-error: rgb(105 0 5);
  --md-sys-color-error-container: rgb(209 0 19);
  --md-sys-color-on-error-container: rgb(255 255 255);
  --md-sys-color-background: rgb(23 18 17);
  --md-sys-color-on-background: rgb(234 224 221);
  --md-sys-color-surface: rgb(20 19 19);
  --md-sys-color-on-surface: rgb(230 225 224);
  --md-sys-color-surface-variant: rgb(81 68 63);
  --md-sys-color-on-surface-variant: rgb(213 195 188);
  --md-sys-color-outline: rgb(158 141 135);
  --md-sys-color-outline-variant: rgb(81 68 63);
  --md-sys-color-shadow: rgb(0 0 0);
  --md-sys-color-scrim: rgb(0 0 0);
  --md-sys-color-inverse-surface: rgb(230 225 224);
  --md-sys-color-inverse-on-surface: rgb(50 48 47);
  --md-sys-color-inverse-primary: rgb(127 84 65);
  --md-sys-color-primary-fixed: rgb(255 219 205);
  --md-sys-color-on-primary-fixed: rgb(49 19 6);
  --md-sys-color-primary-fixed-dim: rgb(243 186 163);
  --md-sys-color-on-primary-fixed-variant: rgb(100 61 44);
  --md-sys-color-secondary-fixed: rgb(255 218 215);
  --md-sys-color-on-secondary-fixed: rgb(65 0 5);
  --md-sys-color-secondary-fixed-dim: rgb(255 179 174);
  --md-sys-color-on-secondary-fixed-variant: rgb(143 15 26);
  --md-sys-color-tertiary-fixed: rgb(168 244 180);
  --md-sys-color-on-tertiary-fixed: rgb(0 33 11);
  --md-sys-color-tertiary-fixed-dim: rgb(141 215 154);
  --md-sys-color-on-tertiary-fixed-variant: rgb(0 82 36);
  --md-sys-color-surface-dim: rgb(20 19 19);
  --md-sys-color-surface-bright: rgb(59 57 56);
  --md-sys-color-surface-container-lowest: rgb(15 14 14);
  --md-sys-color-surface-container-low: rgb(29 27 27);
  --md-sys-color-surface-container: rgb(33 31 31);
  --md-sys-color-surface-container-high: rgb(43 42 41);
  --md-sys-color-surface-container-highest: rgb(54 52 52);
}
