.light {
  --md-sys-color-primary: rgb(98 59 42);
  --md-sys-color-surface-tint: rgb(127 84 65);
  --md-sys-color-on-primary: rgb(255 255 255);
  --md-sys-color-primary-container: rgb(139 94 75);
  --md-sys-color-on-primary-container: rgb(255 255 255);
  --md-sys-color-secondary: rgb(156 27 34);
  --md-sys-color-on-secondary: rgb(255 255 255);
  --md-sys-color-secondary-container: rgb(208 66 66);
  --md-sys-color-on-secondary-container: rgb(255 255 255);
  --md-sys-color-tertiary: rgb(0 82 36);
  --md-sys-color-on-tertiary: rgb(255 255 255);
  --md-sys-color-tertiary-container: rgb(48 120 68);
  --md-sys-color-on-tertiary-container: rgb(255 255 255);
  --md-sys-color-error: rgb(156 0 11);
  --md-sys-color-on-error: rgb(255 255 255);
  --md-sys-color-error-container: rgb(225 0 22);
  --md-sys-color-on-error-container: rgb(255 255 255);
  --md-sys-color-background: rgb(255 248 246);
  --md-sys-color-on-background: rgb(31 27 25);
  --md-sys-color-surface: rgb(254 248 247);
  --md-sys-color-on-surface: rgb(29 27 27);
  --md-sys-color-surface-variant: rgb(242 222 215);
  --md-sys-color-on-surface-variant: rgb(81 68 63);
  --md-sys-color-outline: rgb(131 116 110);
  --md-sys-color-outline-variant: rgb(213 195 188);
  --md-sys-color-shadow: rgb(0 0 0);
  --md-sys-color-scrim: rgb(0 0 0);
  --md-sys-color-inverse-surface: rgb(50 48 47);
  --md-sys-color-inverse-on-surface: rgb(245 240 238);
  --md-sys-color-inverse-primary: rgb(243 186 163);
  --md-sys-color-primary-fixed: rgb(255 219 205);
  --md-sys-color-on-primary-fixed: rgb(49 19 6);
  --md-sys-color-primary-fixed-dim: rgb(243 186 163);
  --md-sys-color-on-primary-fixed-variant: rgb(100 61 44);
  --md-sys-color-secondary-fixed: rgb(255 218 215);
  --md-sys-color-on-secondary-fixed: rgb(65 0 5);
  --md-sys-color-secondary-fixed-dim: rgb(255 179 174);
  --md-sys-color-on-secondary-fixed-variant: rgb(143 15 26);
  --md-sys-color-tertiary-fixed: rgb(168 244 180);
  --md-sys-color-on-tertiary-fixed: rgb(0 33 11);
  --md-sys-color-tertiary-fixed-dim: rgb(141 215 154);
  --md-sys-color-on-tertiary-fixed-variant: rgb(0 82 36);
  --md-sys-color-surface-dim: rgb(222 217 216);
  --md-sys-color-surface-bright: rgb(254 248 247);
  --md-sys-color-surface-container-lowest: rgb(255 255 255);
  --md-sys-color-surface-container-low: rgb(248 242 241);
  --md-sys-color-surface-container: rgb(242 237 235);
  --md-sys-color-surface-container-high: rgb(236 231 230);
  --md-sys-color-surface-container-highest: rgb(230 225 224);
}
